/* Estilo general */
body {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
}
/*Loader*/
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 15, 74, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Ocultar el contenido de la página inicialmente */
#content {
    display: none;
}
/* Estilo de los proyectos */
.project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid orange;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

    .project.even {
        flex-direction: row-reverse; 
    }

/* Estilo para videos de YouTube dentro de un iframe */
.youtube-video {
    width: 100%;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border: 2px solid orange;
}


.project-video {
    flex: 1;
    padding: 20px;
    max-width: 50%;
}

    .project-video video,
    .project-video iframe {
        width: 100%;
        height: 315px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid orange;
    }

.project-info {
    flex: 1;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: 2px solid orange;
    background-color: transparent;
    border-radius: 5px;
    max-width: 50%;
}

    .project-info h2 {
        margin-bottom: 10px;
    }

    .project-info p {
        margin-bottom: 20px;
    }

    .project-info a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

        .project-info a:hover {
            text-decoration: underline;
        }

/* Navegación */
nav {
    background-color: #4855b730;
    text-align: center;
    height: 50px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    nav a {
        height: 50px;
        color: white;
        padding: 0 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

        nav a:hover {
            height: 100%;
            background-color: orange;
            color: black;
        }

/* Cabeceras */
h1 {
    color: white;
    padding-left: 10%;
}

/* Estilos adicionales */
.container {
    max-width: 1200px;
    margin: auto;
}
